/* Card */
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 5px;
  margin-left: 7px;
  margin-right: 7px;
  width: auto;
  background-color: rgba(150, 150, 150, 0.8);
  border-radius: 10px;
}

/* On mouse-over, add a deeper shadow */
ul.list-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card:hover {
  background-color: rgba(150, 150, 150, 0.8);
}

/* Add some padding inside the card container */
.card-container {
  padding: 2px 16px;
}

.card-profile-picture {
  width: 100%;
  height: auto;
  border-radius: 50%
}

ul:after {
  content: "";
  display: block;
  /* flex: auto; */
}