.login-page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  flex: 1 1 auto;
  position: relative;
}

body:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: block;
  content: "";
  z-index: -1;
  background-color: rgb(0, 0, 0, 0.1)
}

/* NavBar */
.nav-container {
  background-color: rgba(255, 255, 255, 0.60)
}

.nav-logo-container {
  height: 50px;
  width: 230px;
}

.nav-logo {
  height: auto;
  width: 130%;
  transform: translateY(-38%);
}

.nav-li-container {
  list-style-type: none;
  overflow: hidden;
  margin: 0px;
}

.nav-li-container li {
  border: 1px;
  float: right;
  margin-left: 5px;
  margin-right: 5px;
}

.main-container{
  display: flex;
  flex-direction: row;
  height: 80%;
}

/* Exchange */
.exchange-window {
  width: 30%;
  height: 80%;
  margin: 10px;
  margin-right: 5px;
  padding: 0px;
}

.exchange-window li {
  padding: 10px 0;
}

/* Exchange Rate */
.exchange-rate {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 5px;
  width: auto;
  background-color: rgba(50, 40, 90, 0.8);
  border-radius: 10px;
  color: #fff;
}

.exchange-rate-ul {
    list-style-type: none;
}

.exchange-rate-ul h3 {

}


/* Listing */
.collection {
  display: flex;
  /* border-style: solid; */
  width: 70%;
  height: 80%;
  margin: 10px;
  margin-left: 5px;
}

.collection ul {
  flex-direction: row;
  list-style-type: none;
  display: block;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.collection li {
  float:left;
}

shadow{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* Card */
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  display:flex;
	flex-direction:column;
  padding: 1rem;
  width: 15rem;
  height: 16.7rem;
  margin-bottom: 10px;
  width: 170px;
  background-color: rgba(253, 243, 243, 0.8);
  border-radius: 10px;
}

ul.list-container {
  width: stretch;
  height: auto;
  display: none;

}

.card:hover {
  background-color: rgba(150, 150, 150, 0.8);
}

/* Add some padding inside the card container */
.card-container {
  padding: auto;
}

.card-container p {
  padding: auto;
  font-size: 0.8em;
}

.card-profile-picture {
  width: 100%;
  height: auto;
  border-radius: 50%
}

ul:after {
  content: "";
  display: block;
  flex: 1 1 auto;
}

/* Login Container */
.login-container {
  display: flex;
  height: auto;
  width: 25%;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5), 0 12px 50px 0 rgba(0, 0, 0, 0.19);
  padding: 15px;
  position: absolute;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.login-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-container div input {
  margin: 0 auto;
  display: flex;
}

/* .username-container {
  display: flex ;
  align: center
} */

.username-input {
  border-radius: 15px;
}

.password-input {
  border-radius: 10px;
}

/* Signup Container */
.signup-container {
  display: flex;
  height: auto;
  width: 25%;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5), 0 12px 50px 0 rgba(0, 0, 0, 0.19);
  padding: 15px;
  position: absolute;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.signup-container div input {
  margin: 0 auto;
  display: flex;
  border-radius: 15px;
}

.signup-container form {
  input:focus {
    color: none;
  };
}

.prompt-text {
  font-size: 0.65em;
}

.trade-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  margin: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0;
  height: 100%;
}

.trade-container-info {
  padding: 3em;
  background-color: #fff;
  border-radius: 15px;
}

.trade-container-info span {
  color: rgba(142, 120, 228, 100);
}

.trade-container-text p {
  font-weight: bold;
  font-size: 1.3em;
  margin: 0.6em 0;
}

.trade-container-text > div {
  margin-bottom: 0.5em;
}

.trade-container-spacing {
  margin-top: 1em;
  display: block;
}

.popup_btn_wrapper {
  display: flex;
  justify-content: center;
  padding: 0.25em 0 0;
}

.coins_amount  {
  font-weight: bold;
}

.coins_cost  {
  font-style: italic;
  margin-top: 15px;
  font-size: 0.8em;
}

.coins_amount input {
  margin-left: 15px;
  border: 1px solid #ddd;
  width: 50px;
  border-radius: 4px;
}

.trade-button {
  padding: 1em 0;
  width: 130px;
  display: block;
  border-radius: 4px;
  border: none;
  color: #fff;
  background-color: purple;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}

.trade-close a {
  margin-top: 1em;
  display: block;
  text-decoration: none;
}

.profile-close {
  margin-top: 1em;
  display: block;
  text-decoration: none;
}

.trade-form {
  margin-top: 2em;
  border: 1px solid #eee;
  padding: 1em;
  border-radius: 4px;
}

.trade-form label {
  font-weight: bold;
}

.trade-form select {
  margin-left: 15px;
  width: 100px;
}

.trade-form-receiver-text {
  display: flex;
  align-items: center;
}

.trade-container-text p {
  font-weight: bold;
}

.trade-form-receiver-text p {
  font-weight: bold;
}

.trade-container-text p span {
  color: #b721b7;
}

.profile-container {
  display: flex;
  justify-content: center;
  align-content: column;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin: 10px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}

.link {
  font-weight: bold;
  text-decoration: none;
}
